:root{
    --primary: #2D455A;
    --secondary: #5DE496;
    --background-bouton: #fef163;
    --background-start: #5F91A7;
    --background-end: #CDDED6;
   }
   img{
    width: 100%;
   }
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
    header {
        background-color: var(--primary);
        display: flex;
        justify-content: right;
        align-items: center;
    }
    #burger{
        width: 30px;
        height: 30px;
        justify-content: start;
    }

   